# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific folders
.vscode/
.idea/

# Build results
bin/
obj/
Debug/
Release/
Publish/

# SQL Server project artifacts
*.dbmdl
*.pdb
*.dacpac
*.log
*.sqlproj.user

# Local configuration files
appsettings.*.json
.env

# Visual Studio specific files
.vs/
sqlpackage.exe

# Backup files
*.bak
*.bacpac
*.trx

# Logs and temporary files
*.log
*.tmp


